.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
:global(.ant-row){
  margin-left: -8px;
  margin-right: -8px;
}
:global(.ant-row > div){
  padding: 0 8px;
}
.info{
  font-size: 1rem;
  color: #212121;
  margin-bottom: 20px;
}
.info p{
  color: darkgray;
  font-size: 0.6rem;
}
:global(.ant-carousel > div){
  height: 540px;
}
.headline{
  display: inline-block;
  margin-left: 16px;

}
.headline > h3{
  font-size: 15px;
  color: #212121;
}
.headline > p{
  font-size: 12px;
  color: gray;
}
